.playArea {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-bottom: 5px white solid;
  margin: auto;
  width: 100%;
}

body {
  background-color: #93d6e6;
}

.targetImage {
  height: 250px;
}

#busStop {
  height: 680px;
  width: 100%;
}

.targetDiv {
  animation-timing-function: linear;
  position: absolute;
  animation-name: runAcross;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  margin-top: 100px;
}

@keyframes runAcross {
  0% {
    left: 0%;
  }
  25% {
    left: 50%;
  }
  50% {
    left: 100%;
  }
  75% {
    left: 50%;
  }
  100% {
    left: 0%;
  }
}

@keyframes runAcross2 {
  0% {
    left: 0%;
  }
  25% {
    left: 45%;
  }
  50% {
    left: 100%;
  }
  75% {
    left: 60%;
  }
  100% {
    left: 0%;
  }
}
@keyframes runAcross3 {
  0% {
    right: 0%;
  }
  25% {
    right: 45%;
  }
  50% {
    right: 100%;
  }
  75% {
    right: 60%;
  }
  100% {
    right: 0%;
  }
}
@keyframes runAcross4 {
  0% {
    right: 0%;
  }
  25% {
    right: 35%;
  }
  50% {
    right: 100%;
  }
  75% {
    right: 54%;
  }
  100% {
    right: 0%;
  }
}
@keyframes runAcross5 {
  0% {
    left: 0%;
  }
  25% {
    left: 22%;
  }
  50% {
    left: 100%;
  }
  75% {
    left: 85%;
  }
  100% {
    left: 0%;
  }
}
@keyframes runAcross6 {
  0% {
    right: 0%;
  }
  25% {
    right: 67%;
  }
  50% {
    right: 100%;
  }
  75% {
    right: 80%;
  }
  100% {
    right: 0%;
  }
}
@keyframes runAcross7 {
  0% {
    left: 0%;
  }
  25% {
    left: 28%;
  }
  50% {
    left: 100%;
  }
  75% {
    left: 43%;
  }
  100% {
    left: 0%;
  }
}
@keyframes runAcross8 {
  0% {
    right: 0%;
  }
  25% {
    right: 15%;
  }
  50% {
    right: 84%;
  }
  75% {
    right: 60%;
  }
  100% {
    right: 0%;
  }
}
@keyframes runAcross9 {
  0% {
    left: 0%;
  }
  25% {
    left: 39%;
  }
  50% {
    left: 100%;
  }
  75% {
    left: 88%;
  }
  100% {
    left: 0%;
  }
}

#title {
  height: 370px;
  width: 500px;
  margin-left: 480px;
  background-image:'Bus-stop.jpg';
}

.scoreboard {
  border: 2px black solid;
  width: 90px;
  height: 75px;
  font-family: sans-serif;
  font-size: 17.3px;
}

.bullets {
  border: 2px black solid;
  width: 90px;
  height: 75px;
  font-family: sans-serif;
  font-size: 17.3px;
  float: right;
}

button {

}

#kyleBtn {
  height: 70px;
  width: 75px;
  padding-bottom: 20px;
  background-color: #93d6e6;
  border: none;
}

button:hover {
  background-image: url('buttons/kyleBtnSpeak.png');
}

.timer {
  border: 2px black solid;
  width: 150px;
  height: 170px;
  font-family: sans-serif;
  font-size: 17.3px;
}

body {
  background-image: image('Bus-stop.jp');
  cursor: url(target_PNG17.png);
}

#grandking {
  height:150px;
  width: 120px;
  position: absolute;
}

.shooter {
  background-color: #49434d;
  height: 150px;
  position: relative;
}

#timerScreen {
  border: 1px solid red;
  background-color: black;
  color: red;
  font-size: 50px;
}

#score {
  border: 1px solid red;
  background-color: black;
  color: red;
  font-size: 50px;
}

#bullCount {
  border: 1px solid red;
  background-color: black;
  color: red;
  font-size: 50px;
}

.facts {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
