.playArea {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-bottom: 5px white solid;
  margin: auto;
  width: 100%;
  cursor: url('../target.png'), auto;
}

body {
  background-color: #49434d;
  overflow-x: hidden;
  margin: 0;
}

.targetImage {
  height: 250px;
}

#busStop {
  height: 550px;
  width: 100%;
}

.targetDiv {
  animation-timing-function: linear;
  position: absolute;
  animation-name: runAcross;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  margin-top: 100px;
}

@keyframes runAcross {
  0% {
    left: 0%;
  }
  25% {
    left: 50%;
  }
  50% {
    left: 100%;
  }
  75% {
    left: 50%;
  }
  100% {
    left: 0%;
  }
}

@keyframes runAcross2 {
  0% {
    left: 0%;
  }
  25% {
    left: 45%;
  }
  50% {
    left: 100%;
  }
  75% {
    left: 60%;
  }
  100% {
    left: 0%;
  }
}
@keyframes runAcross3 {
  0% {
    right: 0%;
  }
  25% {
    right: 45%;
  }
  50% {
    right: 100%;
  }
  75% {
    right: 60%;
  }
  100% {
    right: 0%;
  }
}
@keyframes runAcross4 {
  0% {
    right: 0%;
  }
  25% {
    right: 35%;
  }
  50% {
    right: 100%;
  }
  75% {
    right: 54%;
  }
  100% {
    right: 0%;
  }
}
@keyframes runAcross5 {
  0% {
    left: 0%;
  }
  25% {
    left: 22%;
  }
  50% {
    left: 100%;
  }
  75% {
    left: 85%;
  }
  100% {
    left: 0%;
  }
}
@keyframes runAcross6 {
  0% {
    right: 0%;
  }
  25% {
    right: 67%;
  }
  50% {
    right: 100%;
  }
  75% {
    right: 80%;
  }
  100% {
    right: 0%;
  }
}
@keyframes runAcross7 {
  0% {
    left: 0%;
  }
  25% {
    left: 28%;
  }
  50% {
    left: 100%;
  }
  75% {
    left: 43%;
  }
  100% {
    left: 0%;
  }
}
@keyframes runAcross8 {
  0% {
    right: 0%;
  }
  25% {
    right: 15%;
  }
  50% {
    right: 84%;
  }
  75% {
    right: 60%;
  }
  100% {
    right: 0%;
  }
}
@keyframes runAcross9 {
  0% {
    left: 0%;
  }
  25% {
    left: 39%;
  }
  50% {
    left: 100%;
  }
  75% {
    left: 88%;
  }
  100% {
    left: 0%;
  }
}

#title {
  position: absolute;
  background-color: #93d6e6;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.scoreboard {
  font-family: sans-serif;
  font-size: 25px;
  color: white;
}


#kyleBtn {
  height: 170px;
  width: 300px;
  background-color: #93d6e6;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  margin-bottom: -10px;
}

#restart {
  display: none;
}

#stanBtn {
  height: 170px;
  width: 300px;
  background-color: #93d6e6;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.startBtn {
  z-index: 2;
}

body {
  background-image: image('Bus-stop.jp');
}

#grandking {
  height:150px;
  width: 120px;
  position: absolute;
}

.shooter {
  background-color: #49434d;
  height: 150px;
  position: relative;
}

#timerScreen {
  font-size: 30px;
}

#score {
  font-size: 30px;
}

#bullCount {
  font-size: 30px;
}

.buttonDiv {
  flex-direction: column;
  display: block;
  position: absolute;
  justify-content: space-between;
}

.facts {
  font-family: sans-serif;
  font-size: 25px;
  color: white;
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
}




.stylingButtons {
  display: flex;
  position: static;
  justify-content: space-between;
  flex-direction: row;
}

.logging {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 25%;
  float: right;
  border: 2px white solid;
  background-color: #93d6e6;
  margin-left: 10px;
  margin-right: 20px;
}

.cursor > #busStop {
  background-color: red;
}
