.playArea {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: grey;
  padding: 100px 0;
  margin-left: 100px;
  margin-right: 100px;
}

.firstTarget {
  height: 100px;
  width: 100px;
  background-color: red;
  position: absolute;
}

.secondTarget {
  height: 100px;
  width: 100px;
  background-color: blue;
  position: absolute;
}

.thirdTarget {
  height: 100px;
  width: 100px;
  background-color: green;
  position: absolute;
}

.fourthTarget {
  height: 100px;
  width: 100px;
  background-color: yellow;
  animation: targetMoves 2s infinate;
  position: absolute;
}

.fithTarget {
  height: 100px;
  width: 100px;
  background-color: pink;
  position: absolute;
}

.sixthTarget {
  height: 100px;
  width: 100px;
  background-color: orange;
  position: absolute;
  animation: runAcross 10s infinate;
}

@keyframes runAcross {
  0% {
    top: 0%;
    left: 0%;
  }
  25% {
    left: 35%;
  }
  50% {
    left: 50%;
  }
  75% {
    left: 75%;
  }
  100% {
    left: 100%;
  }
}

#title {
  height: 370px;
  width: 500px;
  margin-left: 480px;
  background-image:'Bus-stop.jpg';
}

.scoreboard {
  border: 2px black solid;
  width: 90px;
  height: 75px;
  font-family: sans-serif;
  font-size: 17.3px;
}

.bullets {
  border: 2px black solid;
  width: 90px;
  height: 75px;
  font-family: sans-serif;
  font-size: 17.3px;
  float: right;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px black solid;
  border-left: 3.2px black solid;
  border-bottom: 3.2px black solid;
  font-family: sans-serif;
  font-size: 20px;
  background-color: red;
}

button:hover {
  color: red;
  background-color: black;
  font-weight: 900;
  font-size: 30px;
  border: 1px red solid;
  border-left: 3.2px red solid;
  border-bottom: 3.2px red solid;
  width: 150px;
  height: 150px;
}

.timer {
  border: 2px black solid;
  width: 150px;
  height: 170px;
  font-family: sans-serif;
  font-size: 17.3px;
}

body {
  background-image: image('Bus-stop.jp');
  cursor: url(target_PNG17.png);
}

#grandking {
  height:150px;
  width: 120px;
}

.shooter {
  background-color: lightgrey;
  height: 150px;
  margin-left: 100px;
  margin-right: 100px;
}

#timerScreen {
  border: 1px solid red;
  background-color: black;
  color: red;
  font-size: 50px;
}

#score {
  border: 1px solid red;
  background-color: black;
  color: red;
  font-size: 50px;
}

#bullCount {
  border: 1px solid red;
  background-color: black;
  color: red;
  font-size: 50px;
}
